- packages_link = project_nav_tab?(:packages) ? project_packages_path(@project) : project_container_registry_index_path(@project)

- if project_nav_tab?(:packages) || project_nav_tab?(:container_registry)
  = nav_link controller: [:packages, :repositories, :infrastructure_registry] do
    = link_to packages_link, data: { qa_selector: 'packages_link' } do
      .nav-icon-container
        = sprite_icon('package')
      %span.nav-item-name
        = _('Packages & Registries')
    %ul.sidebar-sub-level-items
      = nav_link(controller: [:packages, :repositories, :infrastructure_registry], html_options: { class: "fly-out-top-item" } ) do
        = link_to packages_link do
          %strong.fly-out-top-item-name
            = _('Packages & Registries')
      %li.divider.fly-out-top-item
      - if project_nav_tab? :packages
        = nav_link controller: :packages do
          = link_to project_packages_path(@project), title: _('Package Registry') do
            %span= _('Package Registry')
      - if project_nav_tab? :container_registry
        = nav_link controller: :repositories do
          = link_to project_container_registry_index_path(@project), class: 'shortcuts-container-registry', title: _('Container Registry') do
            %span= _('Container Registry')
      - if project_nav_tab? :infrastructure_registry
        = nav_link controller: :infrastructure_registry do
          = link_to project_infrastructure_registry_index_path(@project), title: _('Infrastructure Registry') do
            %span= _('Infrastructure Registry')
